<%#Josh Shoenfelt - Developer%>

<h1>Welcome to IsThisHeatlthy!</h1>
<br/>
<h5>This website allows the you to check whether or not your recipe is healthy. If you click on the 'Foods' tab, you can add ingredients to your recipe .</h5>
<br/>
<h5>Simply select the number of servings you want for each ingredient and select 'Add to Recipe'</h5>
<br/>
<h5>You can select the 'Recipe' tab to view your current recipe.</h5>
<h5>Select 'Calculate' on the 'Recipe' tab and the site will tell you if your recipe appears to be unhealthy in anyway.</h5>
<br/>
<br/>